<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 mt-3">
      <h3 class="text-center">Add Banner</h3>
      <form action="/food/banner" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="name" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            placeholder="Today's Special"
          />
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input type="file" name="image" class="form-control" id="image" />
        </div>
        <button type="submit" class="btn btn-primary">Add Banner</button>
      </form>
    </div>
  </div>
</div>
